<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-primary text-white"><i class="fa-solid fa-book me-2"></i>Tienda</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 ps-5" th:href="@{/}"><i class="fa-solid fa-gauge me-2"></i>Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 ps-5" th:href="@{/producto}"><i class="fa-solid fa-users me-2"></i>Productos</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle"><i class="fa-solid fa-align-left"></i></button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="#!"><i class="fa-solid fa-power-off mx-2 "></i>Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" layout:fragment="page-content">

                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script th:src="@{/js/jquery.js}"></script>       
        <script th:src="@{/js/bootbox.min.js}"></script>
        <script th:src="@{/js/bootbox.locales.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
      <!--   <script th:src="@{/js/producto.js}"></script>        
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        
    <th:block layout:fragment="page-scripts">

    </th:block>
</body>
</html>
