<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>Listar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-user-tie me-2"></i>Producto</h4>
            </nav>
            <div class="container mt-3">                
                <a th:href="@{/producto/add}" class="btn btn-danger mb-4">
                    <strong class="me-2">Add</strong><i class="fa-solid fa-angle-right"></i>
                </a>
                <div class="row">
                    <div class="col">
                        <table class="table table-dark" id="tablita">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">CANTIDAD</th>
                                    <th scope="col" colspan="2" class="text-center">ACCION</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr th:each="pr:${producto}">
                                    <td scope="row" th:text="${pr.id}"></td>
                                    <td th:text="${pr.nombre}"></td>
                                    <td th:text="${pr.precio}"></td>
                                    <td th:text="${pr.cantidad}"></td>                   
                                    <td class="text-center">
                                        <a th:href="@{/producto/edit/} + ${pr.id}" title="Editar Registro"><i class='fa-solid fa-pen-to-square text-warning me-3'></i></a>
                                        <a th:href="@{/producto/delete/} + ${pr.id}" title="Eliminar Registro"><i class='fa-solid fa-trash-can text-danger me-3'></i></a>
                                        <a th:href="@{/producto/detalle/} + ${pr.id}" title="Detalle Producto"><i class="fa-solid fa-eye text-info"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--OTRO SCRIPTS PARA PAGINAS-->
      
    <th:block layout:fragment="page-scripts">
        
    </th:block>

</body>
</html>